.note-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    color: #333;
    aspect-ratio: 1/1.4142;
    word-break: break-word;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        aspect-ratio: 1/1.4142;
        background: rgba(0 0 0 / 0.1);
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    .padding-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .note-btns {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        inset: 50% auto auto 50%;
        translate: -50% -50%;
        z-index: 1000;

        & button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 2rem;
            aspect-ratio: 1;
        }
    }
}