.notes-window {
    width: 100%;
    max-width: 75rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

    @media only screen and (max-width: 75rem) {
        max-width: calc(100% - 5vw);
    }
}

.add-note-btn {
    aspect-ratio: 1/1.4142;
    width: 100%;
}